body{
    font-family: Arial, Helvetica, sans-serif;
}
.upper{
  
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:85px;
}
.spotify-logo{
    height: 50px;
}
nav{
    
}
ul{
    display:flex;
    list-style-type: none;
    flex-direction: row;
    gap: 20px;
}
.landing-image{
    background-image: url(./images/landing.jpg);
    background-size: cover;
    color:white;
    height: 665px;
    
    
}
.text-landing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height:665px;  
    align-items: center;
    line-height: 20px;
    
}
.text-landing p{
    font-weight: 100;
  
}

h1{
    font-size: 2.5em;
    font-weight: 200;
    font-kerning: 1em;
    
}

h2{
    text-align: center;
    
}
hr{
    border: 2px solid #0bbb7d;
    width: 225px;
    padding-bottom:-2px;

}
.underline-first-lower-block{

    border: 2px solid white;
    width: 250px;
    padding-bottom:-2px;
 
}

main{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr ;
        /*grid-template-rows
    :1fr,1fr, 1fr;*/
}
.carrusel {
    display:grid;
    height: 488px;
    grid-template-columns: 1fr,1fr,1fr ;
    
}
.carrusel div{

    grid-template-columns: 1fr,1fr,1fr ;
    grid-template-rows:100px ;
    
    
}
.carrusel  img{
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:60px 20px 10px ;
    
}


.car1{
    grid-column-start:1;
    grid-row-start:1;
}
.car2{
    grid-column-start:2;
    grid-row-start:1;
}
.car3{
    grid-column-start:3;
    grid-row-start:1;
}
.car4{
    grid-column-start:1;
    grid-row-start:2;
}
.car5{
    grid-column-start:2;
    grid-row-start:2;
}
.car6{
    grid-column-start:3;
    grid-row-start:2;
}
.car7{
    grid-column-start:1;
    grid-row-start:3;
}
.car8{
    grid-column-start:2;
    grid-row-start:3;
}
.car{
    grid-column-start:3;
    grid-row-start:3;
}













strong{
    font-weight: 800;
    color:#0bbb7d;
}
h3{
   
    padding-bottom: 3px;
}
h4{
    font-weight: bolder;
    white-space: nowrap; 
}
.lower{
    margin: 0px, 30px;
    display:flex;
    color:white;
    background-color: #1ab26b;
    height: 660px;
    grid-template-columns: 3,1fr;
}
.first-lower-block{
    align-self: center;
   padding-left: 85px;
    
}
.second-lower-block{
    justify-self: center;
    align-self: center;
    margin:5%;

}
.third-lower-block{
    align-self: center;
    
    padding-right: 88px;
    }

.spotify-icon-lower{
    height:110px;
}
.caption-west{
    height:500px;
    width:280px;
}





/* estas son versiones flexbox del carrusel.
.carrusel {
    display: grid;
    height: 488px;
    flex-grow: calc(+20%);
}
.carrusel div{
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.carrusel  img{
    height: 50px;
}*/